<div class="common-container-wr">
	<div class="container">
		<div class="panel">
			<div class="panel-heading panel-heading--styled">Forecast. How many
				<strong>words</strong> will I know and
				<strong>when</strong>?</div>
			<div class="panel-body" ng-show="!vm.isAbleToMakeForecast">Unable to make a forecast. It is needed to have
				<strong>words in a dictionary</strong> and they must be added at least
				<strong>in two different days</strong>.</div>
			<div class="panel-body" ng-show="vm.isAbleToMakeForecast">
				<div class="i-want">
					<input class="form-control" type="number" ng-model="vm.numberOfWordsToKnow" placeholder="Number of words I want to know" ng-change="vm.makeForecast(vm.wordsList, vm.wordsList.length)" />
				</div>
				<div class="progress progress-striped active progress-words">
					<div class="progress-bar progress-bar-info" style="width: {{vm.progressValue}};">
						<span ng-show="vm.progressValue">{{vm.progressValue}}</span>
					</div>
				</div>
				<div class="row progress-bar-labels">
					<div class="progress-bar-label">I know
						<strong>{{vm.wordsList.length}}</strong>
						<span ng-show="vm.numberOfWordsToKnow &gt; vm.wordsList.length"> of
							<strong>{{vm.numberOfWordsToKnow}}</strong>.
							<span>The rest words I will have learnt by
								<span>
									<strong>{{vm.forecastDate}}</strong>.</span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel" ng-show="vm.wordsList.length">
			<div class="panel-heading panel-heading--styled">How many
				<strong>words</strong> I've learnt</div>
			<div class="panel-body">
				<div class="col-sm-9 col-xs-9">
					<canvas class="chart chart-line" id="line" chart-data="vm.wordsValues" chart-labels="vm.wordsLabels" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
				</div>
				<div class="col-sm-3 col-xs-3 text-right">Total amount:
					<strong>{{vm.numberOfWords}}</strong>
					<div class="pie-wr" ng-show="vm.numberOfEssays">
						<canvas class="chart chart-pie" id="pie" chart-data="vm.pieData" chart-labels="vm.pieLabels" chart-options="optionsPie" height="350px"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="panel" ng-show="vm.essaysList.length">
			<div class="panel-heading panel-heading--styled">How many
				<strong>essays</strong> I've written</div>
			<div class="panel-body">
				<div class="col-sm-9 col-xs-9">
					<canvas class="chart chart-bar" id="bar" chart-data="vm.essaysValues" chart-labels="vm.essaysLabels" chart-options="optionsEssay" chart-dataset-override="datasetOverrideEssay"></canvas>
				</div>
				<div class="col-sm-3 col-xs-3 text-right">Total amount:
					<strong>{{vm.numberOfEssays}}</strong>
				</div>
			</div>
		</div>
		<div class="panel" ng-show="!vm.wordsList.length &amp;&amp; !vm.essaysList.length">
			<div class="panel-body">There is no statistics. You have not added neither
				<strong>word</strong> nor
				<strong>essay</strong>.</div>
		</div>
	</div>
</div>